<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/dami.jpg" 
        class="img-fluid"
        id="perfilPhoto">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="name">Bracciale Sauro, Marcos Hernan</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h1>Acerca de mi</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Debitis, eaque. Incidunt aut vero ratione earum labore minima eaque rerum esse aperiam sed? Aliquam hic quae eum,
            illum laudantium minus excepturi.</p>
    </div>
</div>
