<div class="row" id="topDiv">
  <div class="col">
     <img src="../../../assets/APLogo.png" id="logoAp">
  </div>
  <div class="col d-flex justify-content-end">
     <a href={{link.github}}>
        <img src="../../../assets/github.png" id="link">
     </a>
     <a href={{link.linkedin}}>
        <img src="../../../assets/linkedin.png" id="link">
     </a>
     <a 
   (click)="openEdit(editLink, link)"
   class="btn btn-edit p-0 text-white " id="link"
   ><i class="fa-solid fa-pen" style='font-size:36px'></i></a>

   <a
   (click)="logout()"
   class="btn btn-edit p-0 text-white"id="link"
   ><i class="fa-solid fa-right-from-bracket" style='font-size:36px'></i></a>
  </div>

<!-- Edit Links template -->
<ng-template #editLink let-modal >
   <div class="modal-header" id="modal">
     <h4 class="modal-title" id="modal-basic-title2">Edit Links</h4>
     <button
       type="button"
       class="btn-close btn"
       aria-label="Close"
       (click)="modal.dismiss('Cross click')"
     >
     </button>
   </div>
   <div class="modal-body" id="modal">
     <form [formGroup]="editForm" novalidate>
       <div class="form-group">
         <label for="Linkedin">LinkedIn:</label>
         <div class="input-group">
           <input formControlName="linkedin" class="form-control" />
         </div>
       </div>
       <div class="form-group">
         <label for="GitHub">GitHub:</label>
         <div class="input-group">
           <input formControlName="github" class="form-control" />
         </div>
       </div>
     </form>
 
     <div class="modal-footer">
       <button
         type="button"
         class="btn btn-primary"
         (click)="modal.close('Save click')"
       >
         Close
       </button>
       <button data-dismiss="modal" class="btn btn-danger" (click)="onEdit()">
         Update
       </button>
     </div>
   </div>

</ng-template>
