#link{
    width: 50px;
    margin-right: 20px;
    margin-top: 20px;
}
#logoAp{
    width: 150px;
}
#topDiv{
    background-color: #283044 ;
}
#modal{
    background-color:  #bfcde0;
}

app-links{
    float:right;
    margin-top: 25px;
    
}
