<div class="row">

  <div class="col-6 ">
    <h1> Projects</h1>
  </div>
  <div class="col-6 ">
    <a class="btn btn-edit p-0"
    (click)="openAdd(addProject)" placement="bottom" ngbTooltip="add project"
    > <i class="fa-solid fa-square-plus" style='font-size:36px'></i> </a>
  </div>

  <div class="row" *ngFor="let project of projects">
    <div class="col-3 col-sm-11">
      <h2>{{project.title}}</h2>
      <p>{{project.description}}</p>
      <a href="{{project.link}}">
        <p>{{project.link}}</p>
      </a>
    </div>

    <div class="col-3 col-sm-1 ">
      <a (click)="openEdit(editProject, project)" class="btn btn-edit p-0" placement="bottom" ngbTooltip="edit project"><i class="fa-solid fa-pen"></i></a>
      <a (click)="openDelete(deleteProject, project)" class="btn btn-edit p-0" placement="bottom" ngbTooltip="delete project"><i class="fa-solid fa-eraser"></i></a>
    </div>



  </div>

  <!-- Add Project template -->
  <ng-template #addProject let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title2">Add Project</h4>
      <button type="button" class="btn-close btn" aria-label="Close" (click)="modal.dismiss('Cross click')">
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="editForm" novalidate>
        <div class="form-group">
          <label for="projectTitle">Project Title:</label>
          <div class="input-group">
            <input formControlName="title" class="form-control" />
          </div>
        </div>
        <div class="form-group">
          <label for="descriptionProject">Description:</label>
          <div class="input-group">
            <textarea formControlName="description" class="form-control"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="linkProject">link:</label>
          <div class="input-group">
            <textarea formControlName="link" class="form-control"></textarea>
          </div>
        </div>
      </form>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">
          Close
        </button>
        <button data-dismiss="modal" class="btn btn-danger" (click)="onAdd()">
          Add
        </button>
      </div>
    </div>
  </ng-template>


  <!-- Edit Project template -->
  <ng-template #editProject let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title2">Edit Project</h4>
      <button type="button" class="btn-close btn" aria-label="Close" (click)="modal.dismiss('Cross click')">
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="editForm" novalidate>
        <div class="form-group">
          <label for="projectTitle">Project Title:</label>
          <div class="input-group">
            <input formControlName="title" class="form-control" />
          </div>
        </div>
        <div class="form-group">
          <label for="descriptionProject">description:</label>
          <div class="input-group">
            <textarea formControlName="description" class="form-control"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="linkProject">link:</label>
          <div class="input-group">
            <textarea formControlName="link" class="form-control"></textarea>
          </div>
        </div>
      </form>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">
          Close
        </button>
        <button data-dismiss="modal" class="btn btn-danger" (click)="onEdit()">
          Update
        </button>
      </div>
    </div>


  </ng-template>


  <!-- delete Project template -->

  <ng-template #deleteProject let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Delete Project</h4>
      <button type="button" class="btn-close btn" aria-label="Close" (click)="modal.dismiss('Cross click')">
      </button>
    </div>
    <div class="modal-body">
      <h3>Are you sure to delete? </h3>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">
        Cancel
      </button>
      <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">
        Delete
      </button>
    </div>
  </ng-template>